<div class="container">

  <div class="flex center">
    <section>
      <%= image_tag('eurotunnel.logo.svg') %>
    </section>
    <section>
      <h1>SUPERVISION</h1>
    </section>

  </div>

  <section>
    <%= render :partial => 'svg/train-switch.svg' %>
  </section>

  <section>
    <h2>RETRIEVED DATA</h2>
    <div style="max-height:400px; overflow-y: scroll">
    <% @pushes.each do |push| %>
      <div class="data-block">
        <div><b><%= push.created_at.strftime('%d/%m/%Y %l:%M %p') %></b></div>
        <samp><%= push.data %></samp>
        <hr>
      </div>
    <% end %>
    </div>
  </section>

</div>
