<div class="container">
  <h1 style="display: none">SUPERVISION EUROTUNNEL</h1>
  <section>
    <h2>SUPERVISION</h2>
    <div id="supervision">
      <i class="fa fa-circle blink"></i>
      <%= render :partial => 'svg/train-switch.svg' %>
    </div>
  </section>

  <section>
    <h2>LOGS</h2>
    <div style="max-height:400px; overflow-y: scroll">
    <% @pushes.each do |push| %>
      <div class="data-block">
        <div><b><%= (push.created_at + 2.hours).strftime('%d/%m/%Y %l:%M %p') %></b></div>
        <samp><%= push.data %></samp>
        <hr>
      </div>
    <% end %>
    </div>
  </section>

</div>


<script>
(function() {
  setInterval(function(){
    console.log("R E T R I E V I N G   D A T A")
    $( "body" ).load( window.location.pathname )
  }, 5000)
}())
</script>

